@import "main";
@import "searchResultsPage";


h1,
h2 {
  text-align: center;
}

.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: black;
}

.seriesInfoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.seriesInfoContainer img {
  width: 500px;
  height: 500px;
  border: black solid 4px;
}

.textContainer {
  width: 50vw;
  border: black solid 4px;
  text-align: center;
}

.creatorContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}


.heroInfo {
  text-align: center;
}

.heroContainer img {
  width: 300px;
  height: 300px;
  border: white solid 4px;
}

@media (max-width: 1000px) {
  .seriesInfoContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .seriesInfoContainer img {
    width: 50vw;
  }
}

.overallResultsContainer {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.overallResultsContainer .resultContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overallResultsContainer .resultContainer img {
  width: 200px;
  height: auto;
  margin: 0 auto;
  border: 2px solid white;
}

.overallResultsContainer .resultContainer h3 {
  text-align: center;
  width: 200px;
}
